.body{
    background-color: #e5e5e5;
    padding-left: 110px;
    padding-right: 110px;
    padding-top: 10px;
    z-index: auto;
    height: 500px;
}

.container{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

.block1{
    margin-right: auto;
    margin-top: 10px;
    padding-right: 2rem;
    position: relative;
    float: left;
}

.block2{
    margin-left: auto;
    background: none;
    margin-bottom: 1.2222222222rem;
    padding: 0;
    align-items: center;
    display: flex;
    position: relative;
    float: left;
    text-decoration: none;
}

.icon1{
    padding-left: 10px;
    display: inline-block;
    height: 1em;
    width: 1em;
    margin: 0;
    max-width: 100%;
}

.block3{
    position: relative;
    width: 100%;
}

.block4{
    margin-left: 50px;
    left: calc(-50vw + 50%);
    transform: rotateX(180deg);
    margin-top: 0;
    position: absolute;
    top: 50%;
    cursor: default;
    margin-right: 10px;
    background: none;
    border: 0;
    line-height: 0;
    display: inline-block;
    vertical-align: middle;
    width: auto;
    text-transform: none;
    overflow: visible;
    font-size: 100%;
}

.block5{ 
    margin-right: 100px;
    right: calc(-50vw + 50%);
    margin-top: 0;
    top: 50%;
    position: absolute;
    margin-left: 10px;
    background: none;
    border: 0;
    cursor: pointer;
    line-height: 0;
    padding: 0;
    display: inline-block;
    vertical-align: middle;
    width: auto;
    text-transform: none;
    overflow: visible;
    font-size: 100%;
}

.block6{
    overflow: visible;
    position: relative;
    width: 100%;
    list-style: none;
    margin-left: auto;
    padding: 0;
}

ul{
    margin: 0 0 1em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

.block7{
    list-style: none;
    padding: 0;
    box-sizing: content-box;
    display: flex;
    height: 100%;
    position: relative;
    transition-property: all;
    width: 100%;
}

.block8{
    opacity: 1;
    height: auto;
    flex-shrink: 0;
    position: relative;
    transition-property: all;
    list-style: none;
    padding: 0;
}

li{
    display: list-item;
    text-align: start;
}

.block9{
    background-color: white;
    border-color: #f0f0f0;
    color: black;
    display: flex;
    height: 100%;
    text-decoration: none;
    transform: translate(-50%, -50%) scale(1);
    left: 50%;
    top: 50%;
    transition: transform 0.5s;
    position: relative;
}

.block9:hover{
    transform: translate(-50%, -50%) scale(1.1);
}

.block10{
    
    display: flex;
    flex-direction: column;
    height: 100%;
    position: relative;
}



a{
    color: currentColor;
    text-decoration-skip-ink: none;
    background-color: transparent;
    text-decoration: none;    
}

.block11{
    flex: none;
    padding: 30px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.block12{
    margin-bottom: 0;
    font-size: 1.2222222222rem;
    line-height: 1.3636363636;
    text-align: left;
    float: none;
    font-weight: 700;
    display: flex;
    position: relative;
    transition: 0.2s all linear;
}

.block12::before{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 100%;
    border-bottom: 2px solid #000;
    transition: 0.2s all linear;
}

.block12:hover::before{
    width: 100%;
    bottom: 0;
    left: 0%;
    transition-delay: 0.1s;
}

h1{
    font-size: 2.4444444444rem;
    line-height: 1.1818181818;
    display: block;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: 300;
    margin: 0 0 0.5em;
    font-family: Helvetica Neue,helvetica,arial,sans-serif;
    font-weight: bold;
}

h3{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: 500;
    margin: 0 0 0.5em;
    font-family: Helvetica Neue,helvetica,arial,sans-serif;
}

.block13{
    padding-top: 40px;
    width: calc(100% - 80px);
    flex: none;
    margin: auto;
    order: -1;
    position: relative;
    text-align: center;
    float: none;
}

.block14{
    position: relative;
}

.block15{
    margin-left: auto;
    margin-right: auto;
    object-fit: contain;
    opacity: 1;
    height: auto;
    margin: 0;
    max-width: 100%;
    border-style: none;
}

.block16{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: -11px;
    margin-top: 20px;
}

.block17{
    display: flex;
    justify-content: center;
    
}

.block18{
    background-color: #000;
    border-radius: 50%;
    cursor: pointer;
    height: 12px;
    margin: 0 4px;
    transform: translate(0, 0) scale(0.8);
    left: 50%;
    top: 50%;
    transition: transform 0.5s;
    width: 12px;
}

.block18:hover{
    transform: translate(0, 0) scale(1);
}

.block19{
    background-color: rgba(0,0,0,.2);
    border-radius: 50%;
    cursor: pointer;
    height: 12px;
    margin: 0 4px;
    transform: translate(0, 0) scale(0.8);
    left: 50%;
    top: 50%;
    transition: transform 0.5s;
    width: 12px;
}

.block19:hover{
    transform: translate(0, 0) scale(1);
}

.block20{
    fill: #000;
    stroke: #ffff;
    opacity: 0.6;
    height: 50px;
    width: 50px;
    display: inline-block;
    transform: rotateY(180deg);
    position: relative;
}

.block21{
    height: 50px;
    width: 50px;
    display: inline-block;
    position: absolute;
    
}

.block22{
    display: flex;
    position: relative;
    transition: 0.2s all linear;
}

.block22::before{
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    right: 50%;
    width: 0;
    height: 100%;
    border-bottom: 2px solid #000;
    transition: 0.2s all linear;
}

.block22:hover::before{
    width: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    transition-delay: 0.1s;
}

.block21:hover{
    content: url(../qimo/images/icon-chevron-white.svg);
    width: 50px;
    height: 50px;
}


