.container{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

.block1{
    margin-right: auto;
    margin-top: 0;
    padding-right: 2rem;
    position: relative;
    float: left;
}

.block2{
    margin-left: auto;
    background: none;
    margin-bottom: 1.2222222222rem;
    padding: 0;
    align-items: center;
    display: flex;
    position: relative;
    float: left;
}

.icon1{
    padding-left: 10px;
    display: inline-block;
    height: 1em;
    width: 1em;
    margin: 0;
    max-width: 100%;
}

.block3{
    position: relative;
    width: 100%;
}

.block4{
    margin-right: auto;
    position: relative;
}
.block5{ 
    margin-left: auto;
    position: relative;
}